.post-review-container {
    width: 300px; 
    height: 250px; 
    height: auto;
}

.textarea-title {
    display: flex;
    justify-content: center;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.post-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-review-input-inside-modal {
    height: 8rem;
    border: 2px solid black;
    width: 15rem;
}

.post-review-btn-inside-modal {
    width: 250px;
    height: 35px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    background-color: #007bff;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.post-review-btn-inside-modal:hover {
    background-color: whitesmoke;
    color: gray;
    padding: 10px 20px;
    border: 2px solid gray;
    box-shadow: 2px 2px gray;
    cursor: pointer;
}